@import "tailwindcss";

:root {
  --background: #013644;
  --foreground: #ffffff;
  --primary: #98e32f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button,
[role="button"],
a,
label,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
}
